/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr-primary-very-dark-grey: hsl(240, 67%, 8%);
  --clr-primary-dark-grey: hsl(240, 17%, 26%);
  --clr-primary-grey: hsl(240, 6%, 54%);
  --clr-primary-light-blue-mercury: hsl(194, 48%, 49%);
  --clr-primary-yellow-venus: hsl(33, 82%, 61%);
  --clr-primary-magenta-earth: hsl(263, 67%, 51%);
  --clr-primary-brick-mars: hsl(10, 63%, 51%);
  --clr-primary-red-jupiter: hsl(2, 68%, 53%);
  --clr-primary-brown-saturn: hsl(17, 73%, 46%);
  --clr-primary-green-uranus: hsl(169, 73%, 44%);
  --clr-primary-blue-neptune: hsl(222, 87%, 56%);

  --ff-primary: 'Spartan', sans-serif;
  --ff-secondary: 'Antonio', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-primary-very-dark-grey);
  background-image: url('./utils/assets/background-stars.svg');
  color: var(--clr-primary-white);
  font: var(--ff-primary);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  /* background: url('./assets/background-stars.svg'); */
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  text-transform: uppercase;
  /* line-height: 1.25;
  margin-bottom: 0.75rem; */
}
h1 {
  font-size: 80px;
  font-family: var(--ff-secondary);
  line-height: 103px;
}
h2 {
  font-size: 40px;
  font-family: var(--ff-secondary);
  line-height: 52px;
  letter-spacing: -1.5px;
}
h3 {
  font-size: 12px;
  font-family: var(--ff-primary);
  line-height: 25px;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  font-size: 11px;
  font-family: var(--ff-primary);
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1;
}
p {
  font-size: 14px;
  font-family: var(--ff-primary);
  line-height: 25px;
  margin-bottom: 1.25rem;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.line {
  opacity: 20%;
  margin: 0 auto;
}
.Mercury {
  color: var(--clr-primary-light-blue-mercury);
  background-color: var(--clr-primary-light-blue-mercury);
}
.Venus {
  color: var(--clr-primary-yellow-venus);
  background-color: var(--clr-primary-yellow-venus);
}
.Earth {
  color: var(--clr-primary-magenta-earth);
  background-color: var(--clr-primary-magenta-earth);
}
.Mars {
  color: var(--clr-primary-brick-mars);
  background-color: var(--clr-primary-brick-mars);
}
.Jupiter {
  color: var(--clr-primary-red-jupiter);
  background-color: var(--clr-primary-red-jupiter);
}
.Saturn {
  color: var(--clr-primary-brown-saturn);
  background-color: var(--clr-primary-brown-saturn);
}
.Uranus {
  color: var(--clr-primary-green-uranus);
  background-color: var(--clr-primary-green-uranus);
}
.Neptune {
  color: var(--clr-primary-blue-neptune);
  background-color: var(--clr-primary-blue-neptune);
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
.border-Mercury:hover {
  border-top: 4px solid var(--clr-primary-light-blue-mercury);
}
.border-Venus:hover {
  border-top: 4px solid var(--clr-primary-yellow-venus);
}
.border-Earth:hover {
  border-top: 4px solid var(--clr-primary-magenta-earth);
}
.border-Mars:hover {
  border-top: 4px solid var(--clr-primary-brick-mars);
}
.border-Jupiter:hover {
  border-top: 4px solid var(--clr-primary-red-jupiter);
}
.border-Saturn:hover {
  border-top: 4px solid var(--clr-primary-brown-saturn);
}
.border-Uranus:hover {
  border-top: 4px solid var(--clr-primary-green-uranus);
}
.border-Neptune:hover {
  border-top: 4px solid var(--clr-primary-blue-neptune);
}
@media screen and (min-width: 575px) {
}
@media screen and (min-width: 900px) {
}
/*
=============== 
Styles
===============
*/
/*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}
.nav-toggle {
  background: transparent;
  border: transparent;
  color: var(--clr-primary-white);
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  opacity: 50%;
}
.nav-toggle-unactive {
  opacity: 50%;
}
.nav-toggle-unactive:hover {
  opacity: 100%;
}
.nav-header {
  padding: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav-header h2 {
  line-height: 30px;
}
@media screen and (min-width: 575px) {
  .nav-toggle,
  .nav-toggle-unactive,
  .sidebar,
  .show-sidebar {
    display: none;
  }
  .nav-links {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .nav-link {
    color: var(--clr-primary-white);
    background: transparent;
    border: transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 10px;
    font-weight: 700;
    font-family: var(--ff-primary);
    line-height: 25px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    opacity: 70%;
    transition: var(--transition);
    cursor: pointer;

    border-top: 4px solid transparent;
    padding-top: 1rem;
  }
  .nav-link:hover {
    opacity: 100%;
  }
  .nav-container {
    display: grid;
    justify-content: center;
  }
  .nav-header {
    justify-content: center;
    padding: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .nav-header {
    justify-content: space-between;
  }
  .nav-container {
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 2rem;
  }
  .nav-header h2 {
    line-height: 30px;
  }
  .nav-link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15rem;
    border-top: 4px solid transparent;
    padding-top: 1rem;
  }
  .nav-header {
    padding: 1.5rem;
  }
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  width: 100vw;
  background: var(--clr-primary-very-dark-grey);
  transition: var(--transition);
  transform: translate(-100%);
  z-index: -1;
}
.show-sidebar {
  background: var(--clr-primary-very-dark-grey);
  transform: translate(0);
  z-index: 999;
}
.sidebar-links {
  padding: 1rem 1.5rem;
}
.sidebar-circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.5rem;
}
.sidebar-dot-container {
  display: flex;
  align-items: center;
}
.sidebar-links-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  cursor: pointer;
  transition: var(--transition);
}
.sidebar-links-container:hover {
  opacity: 70%;
}
.sidebar-icon {
  font-size: 1.8rem;
  opacity: 30%;
}
.sidebar-line {
  opacity: 20%;
  margin-top: 0.75rem;
}

/*
=============== 
Main Info
===============
*/
.main-info {
  display: grid;
  justify-items: center;
  padding: 2rem;
}
.planet-img {
  width: 10rem;
  height: 10rem;
  object-fit: scale-down;
  margin-bottom: 3rem;
}
.text-container {
  text-align: center;
}
.text-container h1 {
  font-size: 4rem;
}
.buttons-container {
  display: none;
}
.buttons-container-small {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-bottom: 3rem;
}
.text-btn-small {
  background: transparent;
  border: transparent;
  color: var(--clr-primary-white);
  opacity: 60%;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.12rem;
  cursor: pointer;
  transition: var(--transition);
  border-top: 4px solid transparent;
  padding-top: 1rem;
}
.text-btn-small:hover {
  opacity: 100%;
}
.source p {
  opacity: 60%;
}
.source a {
  color: var(--clr-primary-white);
}

@media screen and (min-width: 575px) {
  .buttons-container-small {
    display: none;
  }
  .buttons-container {
    display: inline-block;
  }
  .planet-img {
    margin-top: 3rem;
  }
  .info-container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 3rem;
    align-items: center;
  }
  .text-container {
    text-align: left;
    min-height: 22rem;
  }
  .text-container h1 {
    font-size: 3rem;
  }
  .text-container p {
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
    line-height: 1.6rem;
  }
  .number-btn,
  .text-btn {
    background: transparent;
    border: transparent;
    color: var(--clr-primary-white);
  }
  .number-btn {
    font-family: var(--ff-primary);
    letter-spacing: 0.15rem;
    opacity: 60%;
    font-size: 0.6rem;
    width: 1.5rem;
    padding: 1rem 1.5rem;
  }
  .text-btn {
    font-family: var(--ff-primary);
    letter-spacing: 0.23rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 0.5rem;
    transition: var(--transition);
    cursor: pointer;
  }
  .single-btn {
    border: 1.2px solid rgba(241, 237, 237, 0.25);
    margin-bottom: 1rem;
    border: 1.2px solid rgba(241, 237, 237, 0.25);
  }
}

@media screen and (min-width: 900px) {
  .main-info {
    grid-template-columns: 1fr auto;
    justify-items: center;
    align-items: center;
    padding-top: 0;
  }
  .info-container {
    display: inline-block;
    max-width: 35vw;
    /* min-height: 72vh; */
    margin-right: 5rem;
  }
  .line-main {
    display: none;
  }
  .planet-img {
    width: 13rem;
    height: 13rem;
    margin-bottom: 3rem;
  }
}
/*
=============== 
Footer
===============
*/
.footer-container {
  padding: 2rem;
  padding-top: 0;
}
.footer-single-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.2px solid rgba(241, 237, 237, 0.25);
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
}
.footer-single-value h4 {
  color: var(--clr-primary-white);
  opacity: 60%;
  letter-spacing: 0.06rem;
}
.footer-single-value h2 {
  font-size: 1.6rem;
  letter-spacing: 0.04rem;
}
@media screen and (min-width: 575px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* width: 99vw; */
  }
  .footer-single-value {
    display: inline-block;
    padding: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .footer-single-value h4 {
    color: var(--clr-primary-white);
    opacity: 60%;
    letter-spacing: 0.06rem;
    font-size: 0.6rem;
  }
  .footer-single-value h2 {
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
  }
}
@media screen and (min-width: 900px) {
  .footer-container {
    column-gap: 2rem;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
  }
  .footer-single-value {
    max-width: 15rem;
  }
  .footer-single-value h2 {
    font-size: 1.6rem;
  }
}
